<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mt-4">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          <!-- Form -->
          <form id="blog-form" class="needs-validation" novalidate>
            <div class="mb-3">
                  <%= form.label :title, class: "form-label" %>
                  <%= form.text_field :title, class: "form-control", id: "title" %>
                  <div class="invalid-feedback">
                      Please enter a title.
                  </div>
                </div>
              <div class="mb-3">
                  <label for="category" class="form-label">Category</label>
                  <select class="form-select" id="category" name="category" required>
                      <option value="">Choose a category</option>
                      <option value="Technology">Technology</option>
                      <option value="Business">Business</option>
                      <option value="Lifestyle">Lifestyle</option>
                      <option value="Sports">Sports</option>
                  </select>
                  <div class="invalid-feedback">
                      Please choose a category.
                  </div>
              </div>
              <div class="mb-3">
                  <%= form.label :body, class: "form-label" %>
                  <%= form.text_area :body, class: "form-control", id: "content", name: "content", rows: "10" %>
                  <div class="invalid-feedback">
                      Please enter some content.
                  </div>
              </div>
              <div class="mb-3">
                  <label for="image" class="form-label">Image</label>
                  <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
                  <div class="invalid-feedback">
                      Please upload an image.
                  </div>
              </div>
              <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="publish" name="publish">
                  <label class="form-check-label" for="publish">Publish</label>
              </div>
              <%= form.submit class: "btn btn-primary"%>
          </form>
      </div>
    </div>
</div>
<% end %>